#Container
{
    width: 1200px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#Container:hover
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.Content
{
    width: 200px;
    height: 200px;
}
#Blok1
{
    background-color: blue;
}
#Blok2
{
    background-color: black;
}
#Blok3
{
    background-color: red;
}
#Blok4
{
    background-color: green;
}